<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792848863139-3qib7ecpogl424olc3n8imscgjnnqm08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792848863139-3qib7ecpogl424olc3n8imscgjnnqm08</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>792848863139-0f04j2njbfsaf9ele2uhobkq5um2c2il.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDb0KNYQEpqHRMDWDYQ9mDP6W3U4PYcLU</string>
	<key>GCM_SENDER_ID</key>
	<string>792848863139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfavoriterun.myfavoriterun</string>
	<key>PROJECT_ID</key>
	<string>mapsandcalendarapi</string>
	<key>STORAGE_BUCKET</key>
	<string>mapsandcalendarapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792848863139:ios:c3842315423f71fcbcd416</string>
</dict>
</plist>